{% extends 'CustomerHeader.html' %}
{% block birthreg %}
<form method="POST">
    {% csrf_token%}
    <script src="../static/js/jquery.js"></script>
    <br>
    <h2 align="center" style="color:black">Ration Shop Details</h2>
    <br>
<br>
    <table class="customers" align="center">
    
        <tr><td>Taluk/Suppy Office</td><td><input type="text" name="n1"  required></td></tr>
        <tr><td>Name Of Head Of Family</td><td><input type="text" name="n2" required pattern="[A-Za-z-]+" title="enter characters only"></td></tr>
        <tr><td>Photo</td><td><input type="file" name="f1" ></td></tr>
        <tr><td>Panchayath/Muncipality/Coporation</td><td><input type="text" name="n4" required pattern="[A-Za-z-]+" title="enter characters only"></td></tr>
        <tr><td>Ward Number</td><td><input type="text" name="n5" required pattern="[A-Za-z-]+" title="enter characters only"></td></tr>
        <tr><td>House Number</td><td><input type="text" name="n6" required></td></tr>
        <tr><td>Number Of Members in Family</td><td><input type="text" name="n7" required></td></tr>

        <tr><td></td>Address<td><input type="text" name="n8" required></td></tr>
        <tr><td>Place</td><td><input type="text" name="n9" required pattern="[A-Za-z-]+" title="enter characters only"></td></tr>
        <tr><td>Taluk</td><td><input type="text" name="n10" required pattern="[A-Za-z-]+" title="enter characters only"></td></tr>
        <tr><td>Village</td><td><input type="text" name="n11" required pattern="[A-Za-z-]+" title="enter characters only"></td></tr>
        <tr><td>Pincode</td><td><input type="text" name="n12" required pattern="[0-9]+" title="enter 10 digits only" minlength="6" maxlength="6"></td></tr>
        <tr><td>Phone Number</td><td><input type="text" name="n13" required pattern="[0-9]+" title="enter 10 digits only" minlength="10" maxlength="10"></td></tr>
        <tr><td><input type="submit" name="rationsubmit" value="Submit Details"></td></tr>
        
    </table>
<br>
<br>
    
   
        
        
        
    
    <br>
    <br>
    <br>
    
    </form>
    {% endblock %}