<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>CIVIL REGISTRY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Promoter a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="../static/css/style.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="../static/css/owl.theme.css" type="text/css" media="all">
    <link rel="stylesheet" href="../static/css/owl.carousel.css" type="text/css" media="screen" property="" />
    <link href="../static/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
</head>

<body>
    <div class="mian-content-wthree">
        <div class="container">
            <header>
                <!-- top -->
                <div class="top-head-w3ls text-left">
                    <div class="row top-content-info">
                        <div class="col-lg-5 top-content-left">
                       
                       </div>
                        <div class="col-lg-7 top-content-right">
                            <div class="row">
                             
                                <div class="col-md-6 top-social-icons p-0">
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- top -->
                <div class="clearfix"></div>
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="logo text-left">
                        <h1>
                            <a class="navbar-brand" href="index.html">
                            CIVIL REGISTRY</a>
                        </h1>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon">
                              
                            </span>

                        </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-lg-auto text-right">
                            <li class="nav-item active">
                                <a class="nav-link" href="/Rpohome/">Home
                                        <span class="sr-only">(current)</span>
                                    </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/viewauthorityapplicationslink/"> View Application</a>
                            </li>
                           
                            <li class="nav-item">
                                <a class="nav-link" href="/issuemarriage/">Upload Certificate</a>
                            </li>
                            
                           
                           <li class="nav-item">
                                <a class="nav-link" href="/login/">Logout</a>
                            </li>

                        </ul>

                        
                    </div>

                </nav>
            </header>
            <div class="slide-caption">
                <div id="table">
                    <div id="centeralign">
                        <h3>Your realtor for life!</h3>
                    </div>
                </div>
                <div class="cont-btn">
                    
                </div>
            </div>
        </div>
    </div>
    <!-- end of main image slider container -->
    <!-- banner-text -->
    <!-- banner-bottom-w3-agile -->
    <section class="banner-bottom-w3-agile py-lg-5 py-md-5 py-3">
        <div class="container">
            <div class="inner-sec-w3ls py-lg-5 py-3">
                <div class="row">
                    <div class="col-lg-5 about-img">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 colour-gd">
                                <div class="colour-one">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 colour-gd">
                                <div class="colour-two">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 colour-gd">
                                <div class="colour-three">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 colour-gd">
                                <div class="colour-four">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 about-right">
                        <h4>Who We Are</h4>
                        <h3>We give you complete control of your Promoters.</h3>
                        <p class="my-4">The CIVILREGISTRY  is an agncy  to help indian citizens to apply for various records like PASSPORTS,DRIVING LICENSE,VOTERS ID CARD,RATION CARD etc.</p>

                        <ul class="author d-flex">
                            <li><img class="img-fluid" src="../static/images/author.jpg" alt=""></li>
                            <li><span>Admin Name</span>Comany Namer</li>
                        </ul>
                        <div class="log-in mt-md-5 mt-3">
                            <!--<a class="btn text-uppercase" href="single.html">
                                    Read More</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //banner-bottom-w3-agile -->
    <!-- ab -->
    <section class="banner-bottom-w3-agile bg-light py-lg-5 py-md-5 py-3">
        <div class="container">
            <div class="inner-sec-w3ls py-lg-5 py-3">
                <div class="intro text-center">
                    <h3 class="tittle-w3ls text-center">What Are you Looking For?</h3>
                    <p class="mb-md-5 mb-4">Adipisicing elit sedc eiusmod tempor incididunt ut labore et dolore.</p>
                </div>
                <div class="row mt-lg-5 mt-md-4 mt-4">
                    <div class="col-lg-4 about-in text-left">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon-service"><i class="far fa-building"></i></div>
                                <div class="icon-service-info">
                                    <h5 class="card-title">VOTER's ID </h5>
                                    <p class="card-text">The voters id is an important and is issued by the election commision of india to adult domiciles of india who have reached the age 18,which primarily as an  identity proof for indian citizens.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 about-in text-left">
                        <div class="card">
                            <div class="card-body">

                                <div class="icon-service"><i class="fas fa-home"></i></div>
                                <div class="icon-service-info">
                                    <h5 class="card-title">RATION CARD</h5>
                                    <p class="card-text">ration card is an doccument issued under an order or authority of the state goverment for the purchases of essential commodities from the fair price shops under the public distribution system(TDPS).is issued per family.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 about-in text-left">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon-service"><i class="fas fa-unlock"></i></div>
                                <div class="icon-service-info">
                                    <h5 class="card-title">
                                        DRIVING LICENSE</h5>
                                    <p class="card-text">Is an official document issued by the goverment of india ,permitting an individual to drive a vechicle on indian roads.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 about-in text-left">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon-service"><i class="fas fa-headphones"></i></div>
                                <div class="icon-service-info">
                                    <h5 class="card-title">
                                        Support 24/7</h5>
                                    <p class="card-text">The major think is that we give a complete certificate tom each and as  working with for the customers .</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 about-in text-left">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon-service"><i class="fas fa-users"></i></div>

                                <div class="icon-service-info">
                                    <h5 class="card-title">
                                        Trusted Agents</h5>
                                    <p class="card-text">The agents are complety working with trusted mind .</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 about-in text-left">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon-service"><i class="far fa-money-bill-alt"></i></div>
                                <div class="icon-service-info">
                                    <h5 class="card-title">PASSPORTS </h5>
                                    <p class="card-text">if you have missed or lossed your passports you can get an orginal passports with all legal premisssion or legally approved with all rights .</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- //ab -->
    <!-- /services -->
    <section class="offered bg-dark py-lg-5 py-md-5 py-3">
        <div class="container">
            <div class="inner-sec-w3ls py-lg-5 py-3">
                <h3 class="tittle-w3ls text-center mb-md-5 mb-4 text-white">We Offered Services</h3>
                <div class="row middle-grids">
                    <div class="col-lg-4 about-in middle-grid-info text-center">
                        <div class="card">
                            <div class="card-body">
                                <i class="fas fa-user mb-2"></i>
                                <h5 class="card-title my-3">For Sellers</h5>
                                <p class="card-text">IS a mission to complete the world class customers service experience for each and every seller
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 about-in middle-grid-info text-center">
                        <div class="card">
                            <div class="card-body">
                                <i class="far fa-building mb-2"></i>
                                <h5 class="card-title my-3">OTHER RECORDS</h5>
                                <p class="card-text">we give all records with complety with all rights.is approved with GOVERMENT OF INDIA.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 about-in middle-grid-info text-center">
                        <div class="card">
                            <div class="card-body">
                              <i class="fas fa-binoculars mb-2"></i>
                                <h5 class="card-title my-3">For CUSTOMERS</h5>
                                <p class="card-text">trusted and legally approved certificates are give with the customers.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //services -->
    <!-- /services -->
    <section class="banner-bottom-w3-agile py-lg-5 py-md-5 py-3">
        <div class="container">
            <div class="inner-sec-w3ls py-lg-5 py-3">
                <h3 class="tittle-w3ls text-center mb-md-5 mb-4">Our Agents</h3>
                <div class="row">
                    <div class="col-lg-3 team-grids-wthree text-center">
                        <div class="team-info-content">
                            <img src="../static/images/team1.jpg" class="img-fluid" alt="img">
                            <div class="view-caption">

                                <ul class="social-icons-team justify-conten-center">
                                    <li class="mr-1"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    <li class="mx-1"><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    <li class="mx-1"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="team-description mt-3">
                            <h4>Hellen Smith</h4>
                            <p class="des font-italic">Agent</p>
                        </div>
                    </div>
                    <div class="col-lg-3 team-grids-wthree text-center">
                        <div class="team-info-content">
                            <img src="../static/images/team2.jpg" class="img-fluid" alt="img">
                            <div class="view-caption">

                                <ul class="social-icons-team justify-conten-center">
                                    <li class="mr-1"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    <li class="mx-1"><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    <li class="mx-1"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="team-description mt-3">
                            <h4>Jonh Henrry</h4>
                            <p class="des font-italic">Agent</p>
                        </div>
                    </div>
                    <div class="col-lg-3 team-grids-wthree text-center">
                        <div class="team-info-content">
                            <img src="../static/images/team3.jpg" class="img-fluid" alt="img">
                            <div class="view-caption">
                                <ul class="social-icons-team justify-conten-center">
                                    <li class="mr-1"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    <li class="mx-1"><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    <li class="mx-1"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-description mt-3">
                            <h4>David Jame</h4>
                            <p class="des font-italic">Agent</p>
                        </div>
                    </div>
                    <div class="col-lg-3 team-grids-wthree text-center">
                        <div class="team-info-content">
                            <img src="../static/images/team4.jpg" class="img-fluid" alt="img">
                            <div class="view-caption">
                                <ul class="social-icons-team justify-conten-center">
                                    <li class="mr-1"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    <li class="mx-1"><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    <li class="mx-1"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-description mt-3">
                            <h4>Hellen Marry</h4>
                            <p class="des font-italic">Agent</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //services -->
    <!--gallery  -->
    <section class="gallery py-md-5 py-3">
        <div class="gallery-inner pb-md-5 pb-3">
            <h3 class="tittle-w3ls text-center mb-md-5 mb-4">Featured Properties</h3>
            <ul class="portfolio-categ filter pb-5 mb-lg-3 text-center">
                <li class="port-filter all active">
                    <a href="#">All</a>
                </li>
                <li class="cat-item-1">
                    <a href="#" title="Category 1">category 1</a>
                </li>
                <li class="cat-item-2">
                    <a href="#" title="Category 2">category 2</a>
                </li>
                <li class="cat-item-3">
                    <a href="#" title="Category 3">category 3</a>
                </li>
            </ul>
            <ul class="portfolio-area clearfix">
                <li class="portfolio-item2" data-id="id-0" data-type="cat-item-3">
                    <span class="image-block img-hover">
                        <a class="image-zoom" href="../static/images/g1.jpg" data-gal="prettyPhoto[gallery]">
                            <img src="../static/images/g1.jpg" class="img-fluid " alt="">
                        </a>
                    </span>
                    <div class="property-info-list">
                        <div class="detail">
                            <h4 class="title">
                                <a href="single.html">CIVIL REGISTRY</a>
                            </h4>
                            <div class="location">
                                <a href="single.html">
                                   <i class="fas fa-map-marker-alt"></i> Ration card 
                                </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>
                                    <i class="fas fa-bed"></i> NFSA link
                                </li>
                                <li>
                                    <i class="fas fa-bath"></i> 2 APL,BPL
                                </li>
                                <li>
                                    <i class="far fa-building"></i> AAY
                                </li>
                                <li>
                                    <i class="far fa-building"></i> family document type
                                </li>
                            </ul>
                        </div>
                        <div class="footer-properties">
                            <a class="admin" href="#">
                                <i class="fa fa-user"></i> Jhon Doe
                            </a>
                            <span>
                                <i class="fa fa-calendar-o"></i> 2 years ago
                            </span>
                        </div>
                    </div>
                </li>
                <li class="portfolio-item2" data-id="id-1" data-type="cat-item-2">
                    <span class="image-block">
                       <a class="image-zoom" href="../static/images/g2.jpg" data-gal="prettyPhoto[gallery]">
                            <img src="../static/images/g2.jpg" class="img-fluid " alt="">
                        </a>
                    </span>
                    <div class="property-info-list">
                        <div class="detail">
                            <h4 class="title">
                                <a href="single.html">CIVIL REGISTRY</a>
                            </h4>
                            <div class="location">
                                <a href="single.html">
                                   <i class="fas fa-map-marker-alt"></i> VOTERS ID 
                                </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>
                                    <i class="fas fa-bed"></i> passport size photo
                                </li>
                                <li>
                                    <i class="fas fa-bath"></i> drving license
                                </li>
                                <li>
                                    <i class="far fa-building"></i> PAN  card
                                </li>
                                <li>
                                    <i class="far fa-building"></i> MNREGA job card
                                </li>
                            </ul>
                        </div>
                        <div class="footer-properties">
                            <a class="admin" href="#">
                                <i class="fa fa-user"></i> Jhon Doe
                            </a>
                            <span>
                                <i class="fa fa-calendar-o"></i> 6 years ago
                            </span>
                        </div>
                    </div>
                </li>
                <li class="portfolio-item2" data-id="id-2" data-type="cat-item-1">
                    <span class="image-block">
                        <a class="image-zoom" href="../static/images/g3.jpg" data-gal="prettyPhoto[gallery]">
                            <img src="../static/images/g3.jpg" class="img-fluid " alt="">
                        </a>
                    </span>
                    <div class="property-info-list">
                        <div class="detail">
                            <h4 class="title">
                                <a href="single.html">CIVIL REGISTRY</a>
                            </h4>
                            <div class="location">
                                <a href="single.html">
                                   <i class="fas fa-map-marker-alt"></i> Passports 
                                </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>
                                    <i class="fas fa-bed"></i> 3 passport size photo
                                </li>
                                <li>
                                    <i class="fas fa-bath"></i> 2 PAN card 
                                </li>
                                <li>
                                    <i class="far fa-building"></i> bank account
                                </li>
                                <li>
                                    <i class="far fa-building"></i> 1 Garage
                                </li>
                            </ul>
                        </div>
                        <div class="footer-properties">
                            <a class="admin" href="#">
                                <i class="fa fa-user"></i> Jhon Doe
                            </a>
                            <span>
                                <i class="fa fa-calendar-o"></i> 4 years ago
                            </span>
                        </div>
                    </div>
                </li>
                <li class="portfolio-item2" data-id="id-4" data-type="cat-item-3">
                    <span class="image-block">
                       <a class="image-zoom" href="../static/images/g4.jpg" data-gal="prettyPhoto[gallery]">
                            <img src="../static/images/g4.jpg" class="img-fluid " alt="">
                        </a>
                    </span>
                    <div class="property-info-list">
                        <div class="detail">
                            <h4 class="title">
                                <a href="single.html">CIVIL REGISTRY</a>
                            </h4>
                            <div class="location">
                                <a href="single.html">
                                   <i class="fas fa-map-marker-alt"></i> Other documents 
                                </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>
                                    <i class="fas fa-bed"></i>legal records
                                </li>
                                <li>
                                    <i class="fas fa-bath"></i>identification records 
                                </li>
                                <li>
                                    <i class="far fa-building"></i> apporved doccument type
                                </li>
                                <li>
                                    <i class="far fa-building"></i> historical value for the entity
                                </li>
                            </ul>
                        </div>
                        <div class="footer-properties">
                            <a class="admin" href="#">
                                <i class="fa fa-user"></i> Goverment approved 
                            </a>
                            <span>
                                <i class="fa fa-calendar-o"></i> ALL RIGHTS 
                            </span>
                        </div>
                    </div>
                </li>
                <li class="portfolio-item2" data-id="id-5" data-type="cat-item-2">
                    <span class="image-block">
                       <a class="image-zoom" href="../static/images/g5.jpg" data-gal="prettyPhoto[gallery]">
                            <img src="../static/images/g5.jpg" class="img-fluid " alt="">
                        </a>
                    </span>
                    <div class="property-info-list">
                        <div class="detail">
                            <h4 class="title">
                                <a href="single.html">CIVIL REGISTRY </a>
                            </h4>
                            <div class="location">
                                <a href="single.html">
                                   <i class="fas fa-map-marker-alt"></i> Driving License  
                                </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>
                                    <i class="fas fa-bed"></i> 3 copies of applicant recent passport size phtographs 
                                </li>
                                <li>
                                    <i class="fas fa-bath"></i> proof residence
                                </li>
                                <li>
                                    <i class="far fa-building"></i>life insurance policy 
                                </li>
                                <li>
                                    <i class="far fa-building"></i> Adhar card
                                </li>
                            </ul>
                        </div>
                        <div class="footer-properties">
                            <a class="admin" href="#">
                                <i class="fa fa-user"></i> Jhon Doe
                            </a>
                            <span>
                                <i class="fa fa-calendar-o"></i> 4 years ago
                            </span>
                        </div>
                    </div>
                </li>
                <li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
                    <span class="image-block">
                       <a class="image-zoom" href="../static/images/g6.jpg" data-gal="prettyPhoto[gallery]">
                            <img src="../static/images/g6.jpg" class="img-fluid " alt="">
                        </a>
                    </span>
                    <div class="property-info-list">
                        <div class="detail">
                            <h4 class="title">
                                <a href="single.html">CIVIL REGISTRY </a>
                            </h4>
                            <div class="location">
                                <a href="single.html">
                                   <i class="fas fa-map-marker-alt"></i> 123 Location. Example City,
                                </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>
                                    <i class="fas fa-bed"></i> PAN card 
                                </li>
                                <li>
                                    <i class="fas fa-bath"></i> AdHARE card 
                                </li>
                                <li>
                                    <i class="far fa-building"></i> REGISTRATION 
                                </li>
                                <li>
                                    <i class="far fa-building"></i> PUBLIC RESPONSE
                                </li>
                            </ul>
                        </div>
                        <div class="footer-properties">
                            <a class="admin" href="#">
                                <i class="fa fa-user"></i> ADMIN 
                            </a>
                            <span>
                                <i class="fa fa-calendar-o"></i> 1 years ago
                            </span>
                        </div>
                    </div>
                </li>
                <li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
                    <span class="image-block">
                       <a class="image-zoom" href="../static/images/g7.jpg" data-gal="prettyPhoto[gallery]">
                            <img src="../static/images/g7.jpg" class="img-fluid " alt="">
                        </a>
                    </span>
                    <div class="property-info-list">
                        <div class="detail">
                            <h4 class="title">
                                <a href="single.html">CIVIL REGISTRY</a>
                            </h4>
                            <div class="location">
                                <a href="single.html">
                                   <i class="fas fa-map-marker-alt"></i> 123 Location. 
                                </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>
                                    <i class="fas fa-bed"></i> legal records 
                                </li>
                                <li>
                                    <i class="fas fa-bath"></i> Historical document 
                                </li>
                                <li>
                                    <i class="far fa-building"></i> All rights 
                                </li>
                                <li>
                                    <i class="far fa-building"></i> Admin
                                </li>
                            </ul>
                        </div>
                        <div class="footer-properties">
                            <a class="admin" href="#">
                                <i class="fa fa-user"></i> Jhon Doe
                            </a>
                            <span>
                                <i class="fa fa-calendar-o"></i> 2 years ago
                            </span>
                        </div>
                    </div>
                </li>
                <li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
                    <span class="image-block">
                        <a class="image-zoom" href="../static/images/g8.jpg" data-gal="prettyPhoto[gallery]">
                            <img src="../static/images/g8.jpg" class="img-fluid " alt="">
                        </a>
                    </span>
                    <div class="property-info-list">
                        <div class="detail">
                            <h4 class="title">
                                <a href="single.html">CIVIL REGISTRY</a>
                            </h4>
                            <div class="location">
                                <a href="single.html">
                                   <i class="fas fa-map-marker-alt"></i> 123 Location.
                                </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>
                                    <i class="fas fa-bed"></i> 3 voters id card
                                </li>
                                <li>
                                    <i class="fas fa-bath"></i> 2 ration card
                                </li>
                                <li>
                                    <i class="far fa-building"></i> Passports
                                </li>
                                <li>
                                    <i class="far fa-building"></i> Driving license
                                </li>
                            </ul>
                        </div>
                        <div class="footer-properties">
                            <a class="admin" href="#">
                                <i class="fa fa-user"></i> Jhon Doe
                            </a>
                            <span>
                                <i class="fa fa-calendar-o"></i> 3 years ago
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
            <!--end portfolio-area -->
        </div>
        <!-- //gallery container -->
    </section>
    <!-- //gallery -->

    <!-- /bottom-last -->
    <section class="bottom-last py-5 text-center">
        <div class="bottom-bg">
            <h3>Imagination… What we can easily see is only a small percentage of what is possible.</h3>

        </div>
    </section>
    <!-- //bottom-last -->
    <!--/testimonials-->
    <section class="clients py-md-5 py-3">
        <div class="container">
            <div class="inner-sec-w3ls py-md-5 py-3">
                <h3 class="tittle-w3ls text-center mb-md-5 mb-4">CIVIL REGISTRY </h3>
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="feedback-info text-left">
                            <div class="feedback-top">
                                <p>The civil registration in india is undefined process of continunous ,premenant and compulsory records of the vital events (BIRTH ,DEATH STILL BIRTH).</p>
                            </div>
                            <div class="feedback-grids">
                                <div class="feedback-img">
                                    <img src="../static/images/t1.jpg" class="img-fluid rounded-circle" alt="" />
                                </div>
                                <div class="feedback-img-info">
                                    <h5>Mary Jane</h5>
                                    <p>United States
                                        <span>(Company)</span>
                                    </p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="feedback-info text-left">
                            <div class="feedback-top">
                                <p>such an individual forfeits his or her civil rights ,including the ability to marry,the capacity to own property ,and the rights to contract.</p>
                            </div>
                            <div class="feedback-grids">
                                <div class="feedback-img">
                                    <img src="../static/images/t3.jpg" class="img-fluid rounded-circle" alt="" />
                                </div>
                                <div class="feedback-img-info">
                                    <h5>Steven Wilson</h5>
                                    <p>United States
                                        <span>(Company)</span>
                                    </p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="feedback-info text-left">
                            <div class="feedback-top">
                                <p>india's complusory registration scheme(CRS)for the electronic products .</p>
                            </div>
                            <div class="feedback-grids">
                                <div class="feedback-img">
                                    <img src="../static/images/t2.jpg" class="img-fluid rounded-circle" alt="" />
                                </div>
                                <div class="feedback-img-info">
                                    <h5>Peter guptill</h5>
                                    <p>Vestibulum <span>(Company)</span></p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="feedback-info text-left">
                            <div class="feedback-top">
                                <p>registrars have been appointed for each local area under section 7 of the RBD Act ,1969 for registration of births and deaths occured under their jurisdiction.</p>
                            </div>
                            <div class="feedback-grids">
                                <div class="feedback-img">
                                    <img src="../static/images/t3.jpg" class="img-fluid rounded-circle" alt="" />
                                </div>
                                <div class="feedback-img-info">
                                    <h5>Steven Wilson</h5>
                                    <p>United States
                                        <span>(Company)</span>
                                    </p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="feedback-info text-left">
                            <div class="feedback-top">
                                <p>As per registration  of birth and deaths act 1974 in respct of birth and death in hospital .</p>
                            </div>
                            <div class="feedback-grids">
                                <div class="feedback-img">
                                    <img src="../static/images/t2.jpg" class="img-fluid rounded-circle" alt="" />
                                </div>
                                <div class="feedback-img-info">
                                    <h5>Peter guptill</h5>
                                    <p>Vestibulum <span>(Company)</span></p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--//testimonials-->
    <!--footer -->
    <footer class="footer-emp-w3ls py-md-5 py-4">
        <div class="container">
            <div class="newsletter-inner mb-3">
                <h3 class="tittle-w3ls foot text-left mb-lg-4 mb-3">
                    Don't forget to Sign up</h3>
                <div class="newsright mb-lg-4 mb-3">
                    <form action="#" method="post" class="d-flex">
                        <input class="form-control" type="email" placeholder="" name="email" required="">
                        <input class="form-control" type="submit" value="Subscribe">
                        <div class="clearfix"> </div>
                    </form>
                </div>
            </div>
            <div class="row footer-top mt-lg-5">
                <div class="col-lg-4 footer-grid-wthree">
                    <div class="footer-title">
                        <h3>About Us</h3>
                    </div>
                    <div class="footer-text">
                        <p>Curabitur non nulla sit amet nislinit tempus convallis quis ac lectus. lac inia eget consectetur sed, convallis at tellus. Nulla porttitor accumsana tincidunt.</p>
                        <ul class="social-icons footer-icons d-flex mt-3">
                            <li class="mr-1"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                            <li class="mx-1"><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li class="mx-1"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                            <li class="mx-1"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 footer-grid-wthree">
                    <div class="footer-title">
                        <h3>Get in touch</h3>
                    </div>
                    <div class="contact-info">
                        <h4>Location :</h4>
                        <p>8088 k 4th block building, Honey Avenue, New York City.</p>
                        <div class="phone">
                            <h4>Contact :</h4>
                            <p>Phone : +121 098 8907 9987</p>
                            <p>Email :
                                <a href="mailto:info@example.com">info@example.com</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 footer-grid-wthree">
                    <div class="footer-title">
                        <h3>Quick Links</h3>
                    </div>
                    <ul class="links">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="price.html">Plans</a>
                        </li>
                        <li>
                            <a href="services.html">Services</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact Us</a>
                        </li>
                    </ul>
                    <ul class="links">
                        <li>
                            <a href="services.html">Features</a>
                        </li>
                        <!--- <li>
                            <a href="contact.html">Support</a>
                        </li>-->
                        <li>
                            <a href="#" data-toggle="modal" data-target="#exampleModalCenter">Login</a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="copyright-w3ls mt-4">
                <p class="copy-right text-center ">&copy; 2018 Promoter. All Rights Reserved | Design by
                    <a href="http://w3layouts.com/"> W3layouts </a>
                </p>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <!--model-forms-->
    <!--/Login-->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="login px-4 mx-auto mw-100">
                        <h5 class="text-center mb-4">Login Now</h5>
                        <form action="#" method="post">
                            <div class="form-group">
                                <label class="mb-2">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label class="mb-2">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required="">
                            </div>
                            <div class="form-check mb-2">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                                <div class="form-group">
                                    <label class="my-2">Services</label>
				<select>
<option>VOTER'S ID </option>
<option>PASSPORT</option> 
<option>MARRIAGE REGISTRATION</option>
<option>DRIVING LICENCE</option>
<option>RATION CARD</option>
<option>NILL</option>  
</select> </div>                            
             

                            <button type="submit" class="btn btn-primary submit mb-4">Sign In</button>
                            <p class="text-center pb-4">
                                <a href="#" data-toggle="modal" data-target="#exampleModalCenter2"> Don't have an account?</a>
                            </p>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--//Login-->
    <!--/Register-->
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="login px-4 mx-auto mw-100">
                        <h5 class="text-center mb-4">Register Now</h5>
                        <form action="#" method="post">
                            <div class="form-group">
                                <label>First name</label>

                                <input type="text" class="form-control" id="validationDefault01" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label>Last name</label>
                                <input type="text" class="form-control" id="validationDefault02" placeholder="" required="">
                            </div>

                            <div class="form-group">
                                <label class="mb-2">Password</label>
                                <input type="password" class="form-control" id="password1" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control" id="password2" placeholder="" required="">
                            </div>

                            <button type="submit" class="btn btn-primary submit mb-4">Register</button>
                            <p class="text-center pb-4">
                                <a href="#">By clicking Register, I agree to your terms</a>
                            </p>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--//Register-->
    <!--//model-form-->
    <!-- js -->
    <script src="../static/js/jquery-2.2.3.min.js"></script>
    <script>
        function typeEffect(element, speed) {
            var text = $(element).text();
            $(element).html('');

            var i = 0;
            var timer = setInterval(function() {
                if (i < text.length) {
                    $(element).append(text.charAt(i));
                    i++;
                } else {
                    clearInterval(timer);
                }
            }, speed);
        }

        $(document).ready(function() {
            var speed = 75;
            var delay = $('#table h3').text().length * speed + speed;
            typeEffect($('#table h3'), speed);
            setTimeout(function() {
                $('#table p').css('display', 'inline-block');
                typeEffect($('#table p'), speed);
            }, delay);
        });
    </script>
    <!-- carousel -->
    <script src="../static/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function() {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 1,
                        nav: false
                    },
                    900: {
                        items: 1,
                        nav: false
                    },
                    1000: {
                        items: 3,
                        nav: true,
                        loop: false,
                        margin: 20
                    }
                }
            })
        })
    </script>
    <!-- //carousel -->
    <script>
        $(document).ready(function() {
            $(".dropdown").hover(
                function() {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function() {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->
    <!-- stats -->
    <script src="../static/js/jquery.waypoints.min.js"></script>
    <script src="../static/js/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();
    </script>
    <!-- //stats -->
    <!-- password-script -->
    <script>
        window.onload = function() {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
    <!-- //password-script -->

    <!--/ start-smoth-scrolling -->
    <script src="../static/js/move-top.js"></script>
    <script src="../static/js/easing.js"></script>
    <script>
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            /*
            						var defaults = {
            							  containerID: 'toTop', // fading element id
            							containerHoverID: 'toTopHover', // fading element hover id
            							scrollSpeed: 1200,
            							easingType: 'linear' 
            						 };
            						*/

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!--// end-smoth-scrolling -->
    <!-- jQuery-Photo-filter-lightbox-Gallery-plugin -->
    <!--// end-smoth-scrolling -->
    <script src="../static/js/jquery-1.7.2.js"></script>
    <script src="../static/js/jquery.quicksand.js"></script>
    <script src="../static/js/pretty-script.js"></script>
    <script src="../static/js/jquery.prettyPhoto.js"></script>
    <!-- //jQuery-Photo-filter-lightbox-Gallery-plugin -->
    <!-- /js -->
    <script src="../static/js/bootstrap.js"></script>
    <!-- //js -->
</body>

</html>