{% extends 'AdminHeader.html' %}
{% block marriagerequest %}
<form method="POST">
{% csrf_token%}
<br>
<h2 align="center" style="color:brown"> Votersid Details</h2>
<br>
<style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 95%;
              margin-left: 3%;
              border: #000000;
            }
           
            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
           
            tr:nth-child(even) {
              background-color: #dddddd;
            }
            </style>
    <table >
            <tr style="background:#ff3c41">
   
    <th>District</th>
    <th>Applicant Name</th>
    
    <th>Father Name</th>
  
  
    <th>Age</th>
    <th>Date Of Birth</th>
    <th>House Name</th>
 <th>Street Name</th>
    <th>Town</th>
    <th>Post Office</th>
   <th>Pincode</th>
  
    <th></th>
    <th></th>
    </tr>
    {% for x in data %}
    <tr>
        
       
        <td>
            {{x.1}}
        </td>
        <td>
            {{x.2}}
        </td>
        <td>
            {{x.3}}
        </td>
        <td>
            {{x.4}}
        </td>
        
        <td>
            {{x.5}}
        </td>
        <td>
            {{x.7}}
        </td>
       <td>
            {{x.8}}
        </td>
       
        <td>
            {{x.9}}
        </td>
        <td>
            {{x.10}}
        </td>
        <td>
            {{x.11}}
        </td>
      
        
        
        <td>
            <a href='/forwardvotersid/?id={{x.0}}'>Forward</a>
        </td>
         <td>
            <a href='/adminrejectvotersid/?id={{x.0}}'>Reject</a>
        </td>
          </tr> 
    {% endfor %} 
</table>
<br>
<br>
<br>
<h2 align="center" style="color:brown">  Forwarded Votersid Details</h2>

<br>
<table >
            <tr style="background:#ff3c41">
   
    <th>District</th>
    <th>Applicant Name</th>
    
    <th>Father Name</th>
  
  
    <th>Age</th>
    <th>Date Of Birth</th>
    <th>House Name</th>
 <th>Street Name</th>
    <th>Town</th>
    <th>Post Office</th>
   <th>Pincode</th>
  
    <th></th>
    <th></th>
    </tr>
    {% for x in data1 %}
    <tr>
        
       
        <td>
            {{x.1}}
        </td>
        <td>
            {{x.2}}
        </td>
        <td>
            {{x.3}}
        </td>
        <td>
            {{x.4}}
        </td>
        
        <td>
            {{x.5}}
        </td>
        <td>
            {{x.7}}
        </td>
       <td>
            {{x.8}}
        </td>
       
        <td>
            {{x.9}}
        </td>
        <td>
            {{x.10}}
        </td>
        <td>
            {{x.11}}
        </td>
          </tr> 
    {% endfor %} 
</table>
</form>
{% endblock %}
