{% extends 'CustomerHeader.html' %}
{% block customercertificate %}
<form method="POST">
{% csrf_token%}

<h2 align="center" style="color:brown"> Customer Details</h2>
<br>
<style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 95%;
              margin-left: 3%;
              border: #000000;
            }
           
            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
           
            tr:nth-child(even) {
              background-color: #dddddd;
            }
            </style>
   
            
<table class="customers" border="1" width="1200" height="200" align="center">
<tr style="background:#ff3c41">
    <th>Certificate</th>
    <th>Your Certificate</th>
    
    
    
   
    </tr>
    {% for x in data %}
    <tr>
    
        <td>
            {{x.1}}
        </td>
        <td>
           <a href="../static{{x.2}}">Download</a>
        </td>   
        
       
        
      
        
          </tr> 
    {% endfor %} 
</table>
<br>
<br>
<br>

</form>
{% endblock %}
