{% extends 'CommonHeader.html' %}
{% block login %}

{% if msg %}
<script>
alert("{{msg}}")
window.location.href="../login/"
</script>
{% endif%}
<form method="POST">

    {% csrf_token%}
    <script src="../static/js/jquery.js"></script>
    <br>
    <h2 align="center" style="color:brown">Login</h2>
    <br>
 <h2 align="center" style="color:brown"> Reset your password</h2>   
    <table class="customers" align="center" width="500" height="130">
       
        
        <tr><td>Email</td><td><input type="email" name="n1" placeholder="Email"></td></tr>
        
<tr><td>PhoneNumber</td><td><input type="text" name="n2" placeholder="Phone Number" id="myInput" required></td></tr>
<tr><td>NewPassword</td><td><input type="text" name="n3" placeholder="Password" id="myInput" required></td></tr>

        <tr><td><input type="submit" name="forgot" value="Submit"></td></tr>
        
						
					
         <script>
                                function myFunction() {
                                    debugger;
                                    var x = document.getElementById("myInput");
                                    if (x.type === "password") {
                                        x.type = "text";
                                    } else {
                                        x.type = "password";
                                    }
                                }
                            </script>
    </table>
    <br>
    <br>
    <br>
    
    </form>
    {% endblock %}